/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
ul {
    list-style: none;
}
html, body { height: 100%; background-color: rgb(241, 241, 241);}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-list-item {
    padding: 0.3rem !important;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 5px;
}

.mat-list-item-content {
    justify-content: space-between !important;
}

.mat-list-item-content:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.flex {
    display: inline-flex;
}
.flex.justify-content-between {
    justify-content: space-between;
}
.flex.align-center {
    align-items: center;
}